{% extends 'Navbar/Projectnavbar.html' %}
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <style>
        body,
        html {
            height: 100%;
        }

        .container {
            min-height: 100vh;
            padding: 20px;
            /* Add padding to avoid touching the container edges */
        }
    </style>
</head>

<body>

    {% block body %}
    <div class="container d-flex justify-content-center align-items-center">
        <form method="POST" action="{% url 'UserRegisterLogic' %}" class="w-100" style="max-width: 400px;">
            {% csrf_token %}

            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" for="username">Username</label>
                <input type="text" id="username" name="username" class="form-control" required />
            </div>

            <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" for="first_name">First Name</label>
                <input type="text" id="first_name" name="first_name" class="form-control" required />
            </div>

            <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" for="last_name">Last Name</label>
                <input type="text" id="last_name" name="last_name" class="form-control" required />
            </div>

            <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" for="email">Email address</label>
                <input type="email" id="email" name="email" class="form-control" required />
            </div>

            <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control" required />
            </div>

            <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" for="password1">Confirm Password</label>
                <input type="password" id="password1" name="password1" class="form-control" required />
            </div>

            <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="remember_me" checked />
                        <label class="form-check-label" for="remember_me"> Remember me </label>
                    </div>
                </div>
            </div>

            <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Sign
                up</button>

            <div class="text-center">
                <p>Already Have an Account? <a href="">Login</a></p>

                <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-facebook-f"></i>
                </button>

                <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-google"></i>
                </button>

                <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-twitter"></i>
                </button>

                <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-github"></i>
                </button>
            </div>
        </form>
    </div>
    {% endblock %}

</body>

</html>
